<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <main>
        <form action="index.html" method="post">
            <legend>Login</legend>
            <input type="search" name="name" id="iname" required placeholder="Nome"> <br>
            <input type="email" name="email" id="iemail" required placeholder="E-mail"> <br>
            <input type="password" name="password" id="ipassword" required placeholder="Senha"> <br>
            <button type="submit" class="login-btn">Login</button>
            <a href="#" class="forgot-password">Esqueceu sua senha?</a>
        </form>
        <div class="image-container">
            <img src="../fundoheader/Wallpaper -Cachorros-papel-de-parede.jpg" alt="Imagem">
        </div>
    </main>
</body>
</html>